<html lang="en">
  <body>
    <table style="width: 100%; margin: auto; font-family: Arial, sans-serif;">
      <tr>
        <td style="padding: 5px; text-align: center;">
          <h1 style="color: #333; font-size: 24px; margin: 0;">Reset Password</h1>
        </td>
      </tr>
      <tr>
        <td
          style="padding: 5px; font-size: 16px; color: #666; line-height: 1.5; text-align: center"
        >
          We received your password reset request. Please enter the code below
          to reset your password. Ignore this email if you did not request a
          reset.
        </td>
      </tr>
      <tr>
        <td
          style="padding-top:25px; letter-spacing: 5px; text-align: center; font-size: 48px; font-weight: bold; color: #999999;"
        >
          {{otp}}
        </td>
      </tr>
      <tr>
        <td
          style="padding: 20px; font-size: 12px; color: #aaa; text-align: center;"
        >
          © 2024 LapinLearn. All rights reserved.
        </td>
      </tr>
    </table>
  </body>
</html>
